

.menu-holder,
.menu-2 {
    flex: 1;
}

.dropdown-menu.show {
    display: flex;
    top: 58px;
}
.dropdown-menu-1
{
    list-style-type: none;
}
.row-1
{
    
    padding: 7%;
}
.row-item
{
    margin-top: 100px;
}
@media screen and (max-width: 992px) {
    .hide-content {
      display: none;
    }
  }
  @media screen and (max-width:992px) {
  .footer-content {
    text-align: center;
  }

  }